<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if 'assets' in site.icon %}
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}{{ site.icon }}">
    {% else %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ site.icon }}</text></svg>">
    {% endif %}

    <title>{{ title }}</title>
    {% if css %}
    <link rel="stylesheet" href="{{ site.baseurl }}{{ css }}">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css">

    {% if site.loader %}
    <style>
        {{ site.loader.css | safe }}
    </style>
    {% endif %}
    
    <script>
        const DEFAULT_THEME = '{{ site.default_theme }}';
        const storedTheme = localStorage.getItem('theme') || DEFAULT_THEME;
        document.documentElement.setAttribute('data-theme', storedTheme);
    </script>
</head>
